<%-include("partials/header.ejs") %>
<div class="header">
  <h1>Katy`s book notes</h1>
  <div class="sort">
    <h3>Sort by:</h3>
    <form action="/" method="POST">
      <button type="submit" name="sort" value="rating">Sort by Rating</button>,
      <button type="submit" name="sort" value="recency">Sort by Recency</button
      >,
      <button type="submit" name="sort" value="common">Default Sort</button>
    </form>
  </div>
  <form action="/add" method="get" id="add"><button type="submit">Add new</button></form>
</div>
<div class="books">
  <% if (locals.books) {%> <% books.forEach(book => {%>
  <div class="book-div" id="<%= book.id %>">
    <a href="/<%= book.id %>/<%= book.title %>">
      <img src="<%= book.cover %>" alt="<%= book.title %> cover" />
    </a>
    <div class="content">
      <h2>"<%= book.title %>"</h2>
      <h3 class="author">by <%= book.author %></h3>
      <h3 class="rating">My rating: <%= book.rating %>/10</h3>
      <h3 class="date">
        Note date: <%= book.notedate.toLocaleDateString('uk-UA'); %>
      </h3>
      <div class="buttons">
        <a href="/update/<%= book.id %>">Update</a>
        <button onclick="confirmDeletion('<%= book.id %>')" method="get">
          Delete
        </button>
      </div>
    </div>
  </div>

  <script>
    function confirmDeletion(postId) {
      if (confirm("Do you really want to delete this post?")) {
        window.location.href = `/delete/${postId}`;
      } else {
        console.log("Post deletion was cancelled.");
        window.location.href = "/";
      }
    }
  </script>
  <%}); %> <%} else {%>
  <h1>no books</h1>
  <% } %>
</div>
<%-include("partials/footer.ejs") %>
